<form class="form-inline my-2 my-lg-0 search-area">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<ng-sidebar-container style = "height: 100vh" >
  <div ng-sidebar-content >
    <!-- <button  (click)="_toggleSidebar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" (click)="_toggleSidebar()" type="button">
      <span class="navbar-custom">Filters</span>
    </button>

    
    <table class="card " >
      
      <tr class="card-body " *ngFor="let product of grid"> 
        <div class="product-grid" >
        <td *ngFor="let i of product" class="product-grid">
              
                                       <div class="product-image">
                                       <a href="#" class="image">
                                          <img class="pic-1" src="{{i.imageUrl}}">   
                                       </a>
                                          <ul class="product-links">       
                                              <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>                                          
                                          </ul>
                                       </div>
                                       <div class="product-content">
                                       <h3 class="title">{{i.name}}</h3>
                                       <h3 class="title">{{i.description}}</h3>
                                       <div class="price">{{i.price  | currency:'INR'}}</div>
                         </div>
               
        </td>
        
  </div>
        </tr>




      </table>

</div>
<div></div>
  <ng-sidebar [(opened)]="_opened" mode = "push" class="ng-sidebar-custom1" style="padding-bottom: 100px">
    <div class="ng-sidebar-custom">
     <form>

     </form>
    </div>
  </ng-sidebar>
  
 
</ng-sidebar-container>
