.header-content{
    position: relative;
  padding: 56px;
  overflow: hidden;
  background-image: url("https://d3nn873nee648n.cloudfront.net/900x600/19538/220-SM939041.jpg");
}
#navbarSupportedContent{
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.navbar-brand{
  text-shadow: adjust-hue($color: #000000, $degrees: 0);
  font-size: 40px;

  font-family: Arial, Helvetica, sans-serif;
  color: rgb(146, 231, 34);
}