<div style="background-color: #002f5f; color: white">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="home">{{ "MAIN.TITLE" | translate }}</a>

    <div
      class="collapse navbar-collapse"
      style="color: white"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link navbar-color" routerLink="home"
            >{{ "MAIN.HOME" | translate }}
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-color" routerLink="products">{{
            "MAIN.PRODUCTS" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-color" routerLink="cart">{{
            "MAIN.CART" | translate
          }}</a>
        </li>
        <li class="nav-item" style="padding-top: 8px">
          <label class="nav-link navbar-color d-inline">Language:</label>
          <select #lang (change)="changeLanguage(lang.value)">
            <option class="nav-link" value="en">English</option>
            <option class="nav-link" value="hi">Hindi</option>
          </select>
          <!-- <select>
            <a
              mat-list-item
              class="color-deep-purple"
              (click)="changeLanguage('en')"
            >
              English
            </a>
          </select>
          <select>
            <a
              mat-list-item
              class="color-deep-purple"
              (click)="changeLanguage('hi')"
            >
              Hindi
            </a>
          </select> -->
          <!-- <select class="nav-link navbar-color" formControlName="website">
            <option>English</option>
            <option>Hindi</option>
          </select> -->
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div *ngIf="userName">
          <label class="btn btn-outline my-2 my-sm-0 navbar-color" type="submit"
            >{{ "MAIN.WELCOME" | translate }} {{ userName }}
            <button
              class="btn btn-outline border my-2 my-sm-0 navbar-color"
              (click)="logout()"
            >
              {{ "MAIN.LOGOUT" | translate }}
            </button>
          </label>
        </div>
        <div *ngIf="!userName">
          <a routerLink="login">
            <button
              class="btn btn-outline-success border danger my-2 my-sm-0 navbar-color"
              type="submit"
            >
              {{ "MAIN.LOGIN" | translate }}
            </button>
          </a>
        </div>
      </form>
    </div>
  </nav>
</div>
